.DS_Store
__pycache__/
.history/
data/

#Saved and downloaded data files
*.nt.gz
*.npz
*.pkl
*.ipynb
*.npy
*.pyc

GNN/experiments/
GNN/__pycache__/
GNN/grid_search/
GNN/reported_exp/
GNN/generate_all_dataset.py
GNN/grid_search.py
